@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<style>
    * {
        margin: 0;
        padding: 0;
        font-family:'Roboto',sans-serif;
    }

    .hero {
        width:100%;
        height:100vh;
        background-image: url('lib/image/background.png');
        opacity: 0.5;
        background-size: cover;
        background-position: center;
        padding-left:8%;
        padding-right:8%;
        box-sizing:border-box;
        
    }

    .overlay {
        background-color:rgba(0, 0, 0, 1);
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .bar {
        height:12%;
        display:flex;
        align-items:center;
    }
    .logo{
        width:50px;
        cursor: pointer;
    }
    .menu-icon {
        width:30px;
        cursor:pointer;
        margin-left:40px;
    }
    nav {
        flex: 1;
        text-align:right;
    }

    nav ul li {
        list-style: none;
        display: inline-block;
        margin-left: 60px;
    }
    nav ul li a {
        text-decoration:none;
        color: #fff;
        font-size:13px;
    }
    .row {
        display:flex;
        height: 88%;
        align-items:center;

    }
    h1{
        color: #fff;
        font-size: 100px;
    }
    p{
        color: #fff;
        font-size: 11px;
        line-height: 15px;
    }
    button {
        width:180px;
        color:#000;
        font-size:12px;
        padding:12px 0;
        background:#fff;
        border:0;
        border-radius:20px;
        outline: none;
        margin-top:30px;
    }
    .card {
        width:200px;
        height:230px;
        display:inline-block;
        border-radius:10px;
        padding:15px 25px;
        box-sizing:border-box;
        cursor:pointer;
        margin:10px 15px;
        background-position:center;
        background-size:cover;
        transition: transform 0.5s;
    }

    .card1 {
        background-image: url('lib/image/pic-1.png');
    }

    .card2{
        background-image: url('lib/image/pic-1.png');
    
    }

    .card3 {
        background-image: url('lib/image/pic-1.png');
    }
    .card4 {
        background-image: url('lib/image/pic-1.png');
    }

    .card:hover {
        transform:translateY(-10px);
    }
    h5 {
        color:#fff;
        text-shadow:0 0 5px #999;

    }
    .card p {
        text-shadow: 0 0 15px #000;
    }
</style>

<div class="overlay">
    <div class="hero"> 
       <div class="bar">
            <img src="~/lib/image/logo.png" class="logo">
            <nav>
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Home</a>
                    </li>

                </ul>
            </nav>
            <img src="~/lib/image/menu.png"  class="menu-icon"/>
        </div>
        <div class="row">
            <div class="col">
                <h1>Egytian</h1>
                <p>Sdsd;fskdf sldfj df; tHis is filler words that I do not know how to get use to. I'm so cnfused as to what I;m suppsoe to be doing.'</p>
                <button>Explore</button>
            </div>
            <div class="col">
                <div class="card card1">
                    <h5> Wester</h5>
                    <p>Lorem Ipsum asdsdfkdjfjlkdsfgj sdjgfklsdhfgj ksldhfg Theui sdf oier0gt0hjogdi hsdogff hsodfiuhjs of</p>
                </div>
                <div class="card card2">
                    <h5> Wester</h5>
                    <p>Lorem Ipsum asdsdfkdjfjlkdsfgj sdjgfklsdhfgj ksldhfg Theui sdf oier0gt0hjogdi hsdogff hsodfiuhjs of</p>
                </div>
                <div class="card card3">
                    <h5> Wester</h5>
                    <p>Lorem Ipsum asdsdfkdjfjlkdsfgj sdjgfklsdhfgj ksldhfg Theui sdf oier0gt0hjogdi hsdogff hsodfiuhjs of</p>
                </div>
                <div class="card card4">
                    <h5> Wester</h5>
                    <p>Lorem Ipsum asdsdfkdjfjlkdsfgj sdjgfklsdhfgj ksldhfg Theui sdf oier0gt0hjogdi hsdogff hsodfiuhjs of</p>
                </div>
            </div>
        </div>
    </div>
   
</div>




